# Web framework
Django==4.2.26

# Database
dj-database-url==2.3.0
psycopg2-binary==2.9.9

# Static files & deployment
whitenoise==6.9.0
gunicorn==23.0.0

# Image handling
Pillow==12.1.1

# Timezone
pytz==2025.1
